src/*user
.DS_Store
build*
src/*.o
src/moc_*
src/qrc_*
src/fileLastVisit.txt
src/.qmake*
src/Makefile
src/BreeksApp
src/ui*
src/Front_Qml_qml_for_breeks_qml.cpp
src/RusDic.txt
src/qmlcache_loader.cpp
